:root{
--subtle-background-color: #F8F9FA;
--primary-body-color-1: #3A0CA3;
--primary-body-color-2: #480CA8;
--accent-color-1: #F72585;
--accent-color-2: #B5179E;
--blueish-light-1:#4CC9F0;
--blueish-light-2: #4895EF;
--blue-medium-1: #4361EE;
--blue-medium-2: #3F37C9;
--purpleish-1: #7209B7;
--purpleish-2: #560BAD;
--box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    }

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}

.merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
}

.merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
}

.merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
}

.merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
}
.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}
.main-container{
            max-width: 1500px;
            margin: 0 auto;
            padding: 10px 60px;
}
.hero{
    background-color: #F1F5F9;
    text-align: center;
    padding: 40px;
    margin-top: 60px;

}
.headshot{
    max-width: 60%;
    min-width: 20%;
    display: flex;
    padding: 10px;
    text-align: center;
    margin: auto;
    display:block;
}
.gk-logo{
    max-width: 80px;
    padding-left: 20px;
}
.logo{
    max-width:150px;
    padding:10px;
}
.nav-item hover{
    color:#F72585
}
.coding-example-images{
    max-width: 400px;
}
.container-companies{
    display: flex;
    justify-content: space-evenly;
}
h1{
    color: var(--accent-color-1);
    font-size: 60px;
}
p{
    font-family: "Lato", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}
h2{
    color:white;
    font-family:"Merriweather", serif;
    padding:10px;
    text-align: center;
}
h3,h4{
    color: var(--accent-color-1);
    font-family: "Meriweather", serif;
    padding:10px;
    text-align: center;
}
.contact-me-button {
    border-radius: 4px;
    padding: 15px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--accent-color-1);
    box-shadow: var(--box-shadow);
    color: white;
    font-family: "Merriweather", serif;
}
.companies{
    padding:5px;
    background-color: var(--accent-color-1);
}
.coding-examples{
    padding:30px;
}
.secondary-link {
    border-radius: 4px;
    padding: 15px 15px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--accent-color-1);
    border: 1px solid var(--accent-color-1);
}
.job-title{
    text-align: left;
}
.job-details{
    p{padding: 0;}
    
}
.timeline {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .timeline-item:after {
    background-color: hsl(0, 0%, 90%);
    left: -38px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
}


@media(max-width:576px){
    .main-container{
        padding:10px;
    }
    .photo-greeting{
        flex-direction: column-reverse;
    }
    h1{
        font-size: 35px;
    }
}